.prijs__filter__option {
    display: none;
}

.prijs__filter__option:hover {
    cursor: pointer;
    text-decoration: underline;
}

.prijs__filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    margin-top: 2rem;
    font-size: 3.1rem;
    width: 20rem;
}

.prijs__filter:hover {
    cursor: pointer;
}

#down{
    display: none;
}

@media screen and (max-width: 77.5rem) {
    .prijs__filter{
        font-size: 1rem;
        width: 100%;
    }
    .prijs__filter__option{
        font-size: 1.5rem;
    }
    .filter__section > div{
        padding-left: 0rem;
    }
}